<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>Lesson1</title>
    <link href="libs/bootstrap/dist/css/bootstrap.min.css"
  	      rel="stylesheet" >
  	<link href="css/main.css"
  	      rel="stylesheet" >
  </head>
  <body>

    <div class="container" ng-init="title='CodeCraft'; awesome=false">
        <h1>{{title}} is: {{awesome}}</h1>

        <input type="text" name="title" value="" ng-model="title">
        <input type="checkbox" name="awesome" value="" ng-model="awesome">
    </div >

    <script src='libs/angular/angular.min.js'></script >
  </body>
</html>
