<!DOCTYPE html >
<html lang="en" ng-app="minmax">

<head>
    <title>Controllers</title>
    <link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/form.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Controllers
			</a >
		</div >
		,
	</div >
</nav >

<div class="container main-content" ng-controller="minMaxCtrl">

	<form ng-submit="onSubmit(theForm.$valid)" novalidate="novalidate" name="theForm">
		<div class="form-group" >
			<label for="name" >Name</label >
			<input type="text"
			       class="form-control"
			       ng-model="formData.name"
			       id="name"
			       required="required">
		</div >

		<div class="form-group" ng-class="{
      'has-error' : !theForm.email.$valid && (!theForm.$pristine || theForm.$submitted),
      'has-success' : theForm.email.$valid && (!theForm.$pristine || theForm.$submitted)
    }">
			<label for="email" >Email</label >
			<input type="email"
			       class="form-control"
			       ng-model="formData.email"
			       id="email"
             name="email"
             required="required">
             <!--<pre>Pristine? {{theForm.$pristine}}</pre>
             <pre>Valid field? {{theForm.email.$valid }}</pre>
             <pre>Validation? {{theForm.email.$error | json}}</pre>-->
             <p class="help-block" ng-show="theForm.email.$error.required && (!theForm.$pristine || theForm.$submitted)">O email não está preenchido</p>
             <p class="help-block" ng-show="theForm.email.$error.email && (!theForm.$pristine || theForm.$submitted)">O email não é valido</p>
		</div >

    <div class="form-group" >
			<label for="age" >Age</label >
			<input type="number"
			       class="form-control"
			       ng-model="formData.age"
			       id="age"
                name="age"
                required="required">
		</div >

    <div class="form-group" >
			<label for="sex" >Sex</label >
			<select class="form-control" name="sex" id="sex" ng-model="formData.sex" required="required">
        <option value="">Please choose</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
			</select>
		</div >

		<div class="form-group" >
			<label for="password" >Password</label >
			<input type="password"
			       class="form-control"
			       ng-model="formData.password"
			       id="password" required="required">
		</div >

		<div class="form-group" >
			<button class="btn btn-primary" type="submit">Register
			</button >
		</div >

	</form >
    
  <pre>{{theForm | json}}</pre>
</div >

    <script src="libs/angular/angular.min.js" ></script>
    <script src="bower_components/angular-auto-validate/dist/jcs-auto-validate.min.js"></script>
    <script src="js/form.js" ></script>


</body >
</html >